<form class="container__search" action="/search" method="POST">
  <input type="text" name="address" placeholder="City, Zip-Code or Country">
  <button type="submit" class="button">Search</button>
</form>
