<!DOCTYPE html>
<html>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="stylesheet" href="css/main.css">
<title>Simple Weather App</title>
<body>
  <header>
    <div class="wrapper">
      {{> form}}
    </div>

  </header>
  <div class="video-bg">
    <video autoplay loop poster="images/Orange-Ripple.jpg">
      <source src="images/Orange-Ripple.mp4" type="video/mp4">
      <source src="images/Orange-Ripple.webm" type="video/webm">
    </video>
  </div>

</body>
</html>
