<!DOCTYPE html>
<html>
{{> head}}
<body>
  <header>
    <div class="wrapper">
      {{> form}}
    </div>

  </header>
  <div class="video-bg">
    <video autoplay loop poster="images/Orange-Ripple.jpg">
      <source src="images/Orange-Ripple.mp4" type="video/mp4">
      <source src="images/Orange-Ripple.webm" type="video/webm">
    </video>
  </div>

</body>
</html>
