body,html{
  width:100%;
  height:100%;
  padding: 0;
  margin: 0;
}


header{
  height: 100%;
  width: 100%;
  background-repeat: no-repeat;
  background-size: auto;
  margin: 0 auto;
}

video{
  position: absolute;
  top: 0;
  left:0;
  object-fit: cover;
}

.video-bg{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  overflow: hidden;
  z-index: -999;
}

.container{
  font-family: sans-serif;
  font-weight: 300;
  text-align: center;
  color: #fff;
  background: rgba(0, 0, 0, 0.5);
  box-sizing: border-box;
  z-index: 10;
}

@media only screen and (max-width: 1024px){

  .container{
    width:100%;
    padding: 20px 20px;
  }

  .container__weather h3{
    font-weight: 100;
  }
  .container__weather--temperature{
    font-size: 4rem;
  }

  .container__search{
    display: flex;
    flex-direction: column;
    position: absolute;
    bottom: 40px;
    left: 0;
    width: 100%;
    padding: 0;
    z-index: 1;
  }

  .container__search input[type=text]{
    flex:1;
    height: 50px;
    outline: none;
    border: none;
    border-radius: 0;
    text-indent: 15px;
    font-size: 1.1rem;
    font-weight: 300;
    font-family: sans-serif;
    box-sizing: border-box;
    margin-bottom: 3px;
    appearance: none;
    -webkit-appearance: none;
  }

  .container__search .button{
    flex:1;
    height: 50px;
    color: #fff;
    font-size: 1.1rem;
    font-weight: 300;
    border: none;
    outline: none;
    cursor: pointer;
    background: #1abc9c;
    box-sizing: border-box;
  }

  .image img{
    position: fixed;
    top:0;
    left: 0;
    height: 100vh;
    z-index: -10;
  }
}


@media only screen and (min-width: 1025px) {
  .image{
    position: absolute;
    top:0;
    left: 0;
    object-fit: cover;
    z-index: 0;
  }

  .container{
    display: flex;
    flex-direction: column;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width:75%;
    height: auto;
    padding: 50px;
  }

  .container__weather{
    flex: 1;
    width: 100%;
  }

  .container__weather h3{
    font-size: 1.3rem;
    font-weight: 100;
  }

  .container__weather--temperature{
    font-size: 7rem !important;
    margin: 10px auto;
  }

  .container__search{
    flex: 1;
    margin: auto;
    display: flex;
    justify-content: center;
    width: 75%;
    min-width: 300px;
    height: 50px;
  }

  .container__search input[type=text]{
    height: 100px;
    flex:3;
    min-width: 200px;
    outline: none;
    border: none;
    text-indent: 15px;
    font-size: 1.2rem;
    font-weight: 300;
    font-family: sans-serif;
    box-sizing: border-box;
    border-bottom-left-radius: 50px;
  }

  .container__search .button{
    flex:1;
    height: 100px;
    min-width: 70px;
    color: white;
    font-size: 1.1rem;
    font-weight: 300;
    border: none;
    outline: none;
    cursor: pointer;
    background: #1abc9c;
    padding: 3px 10px;
    box-sizing: border-box;
    border-bottom-right-radius: 50px;
  }
  .image img{
    position: fixed;
    top:0;
    left: 0;
    width: 100vw;
    z-index: -10;
  }
}
