body,
html {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: 'Roboto', sans-serif;
}

.container {
  width: 100%;
  max-width: 1200px;
  height: 100%;
  display: flex;
  margin: auto;
  flex-direction: column;
}

/* MAIN SECTION START */
#image {
  position: absolute;
  height: 100%;
  z-index: -1;
}

.main {
  position: relative;
  overflow: hidden;
  flex: 1;
  height: 80vh;
  width: 100%;
  display: flex;
  color: #fff;
  flex-direction: row;
  justify-content: flex-start;
  background: rgba(170, 7, 235, 0.1); /* Old browsers */
  background: -moz-linear-gradient(
    -45deg,
    rgba(170, 7, 235, 1) 0%,
    rgba(184, 142, 242, 1) 67%,
    rgba(83, 225, 241, 1) 100%
  ); /* FF3.6-15 */
  background: -webkit-linear-gradient(
    -45deg,
    rgba(170, 7, 235, 1) 0%,
    rgba(184, 142, 242, 1) 67%,
    rgba(83, 225, 241, 1) 100%
  ); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(
    135deg,
    rgba(170, 7, 235, 0.7) 0%,
    rgba(184, 142, 242, 0.5) 67%,
    rgba(83, 225, 241, 0.5) 100%
  ); 
}

.temperature,
.today,
.switch {
  flex: 1;
  text-align: center;
}

.temperature h1 {
  font-size: 5rem;
  font-weight: 300;
  margin-bottom: 0;
  margin-top: 5rem;
  text-shadow: 1px 1px 6px #4b4b4b;
}

.temperature p {
  font-weight: 100;
  letter-spacing: 0.05rem;
}

.today {
  font-weight: 300;
  letter-spacing: 0.05rem;
  padding-top: 1.3rem;
}

.switch {
  padding-top: 5rem;
}

/* MAIN SECTION END */

/* DAYS SECTION START */
.days {
  display: flex;
  flex-direction: row;
  height: 20vh;
  width: 100%;
}

.days-of-week {
  flex: 1;
  flex-basis: 90px;
  display: flex;
  flex-direction: column;
  text-align: center;
}

.days-of-week > span {
  flex: 1;
  display: flex;
  align-items: center;
  align-self: center;
  text-align: center;
}

.day,
.future-temperature {
  font-weight: 500;
  font-size: 1.6rem;
  color: #353538;
}

.future-temperature {
  font-size: 2.2rem;
}

.current {
  box-shadow: 0px 0px 5px 0px #999999;
}
/* DAYS SECTION END */

@media only screen and (max-width: 375px) {
  .main {
    flex-direction: column;
  }

  .day,
  .future-temperature {
    font-size: 1.2rem;
    font-weight: 100;
  }

  .temperature h1 {
    font-size: 6rem;
    font-weight: 400;
  }

  .temperature > p {
    margin-top: 0;
  }

  .switch{
    padding: 0;

  }
}


/*  TOGGLE SWITCH FROM PROTO.IO  */
.onoffswitch {
  margin: 0 auto;
  position: relative; width: 70px;
  -webkit-user-select:none; -moz-user-select:none; -ms-user-select: none;
}
.onoffswitch-checkbox {
  display: none;
}
.onoffswitch-label {
  display: block; overflow: hidden; cursor: pointer;
  border: 1px solid #FFFFFF; border-radius: 20px;
}
.onoffswitch-inner {
  display: block; width: 200%; margin-left: -100%;
  transition: margin 0.3s ease-in 0s;
}
.onoffswitch-inner:before, .onoffswitch-inner:after {
  display: block; float: left; width: 50%; height: 30px; padding: 0; line-height: 30px;
  font-size: 14px; color: white; font-weight: bold;
  box-sizing: border-box;
}
.onoffswitch-inner:before {
  content: "\2103";
  color: #FFFFFF;
  padding-left: 10px; 
  text-align: left;
}
.onoffswitch-inner:after {
  content: "\2109";
  padding-right: 10px;
  text-align: right;
}
.onoffswitch-switch {
  display: block; width: 18px; margin: 6px;
  background: #FFFFFF;
  position: absolute; top: 0; bottom: 0;
  right: 36px;
  border: 2px solid #FFFFFF; border-radius: 20px;
  transition: all 0.3s ease-in 0s; 
}
.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-inner {
  margin-left: 0;
}
.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-switch {
  right: 0px; 
}